<%= form_for(user_test2) do |f| %>
  <% if user_test2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_test2.errors.count, "error") %> prohibited this user_test2 from being saved:</h2>

      <ul>
      <% user_test2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
