<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_test2.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_test2.password %>
</p>

<%= link_to 'Edit', edit_user_test2_path(@user_test2) %> |
<%= link_to 'Back', user_test2s_path %>
