<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @test.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @test.password %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
